<!--根据当前第一个笔记条目（若存在）修改实际笔记区域-->

<div class="note_area">
    <% if(has_note === true) { %>
    <p class="note_id" style="display: none"><%= note_data[0].note_id %></p>
    <p class="nb_id" style="display: none"><%= note_data[0].nb_id %></p>
    <% } else { %>
    <p class="note_id" style="display: none">-1</p>
    <p class="nb_id" style="display: none"><%= default_nb[0].nb_id %></p>
    <% } %>

    <!--  笔记名字 -->
    <div class="layui-col-xs3 note_item">
        <label class="layui-col-xs1 note_title_icon">
            <i class="layui-icon">&#xe617;</i>
        </label>
        <div class="layui-col-xs10 note_title_outer">
            <% if(has_note === true) { %>
            <input id="note_name_input" type="text" maxlength="11" class=" note_item_word" placeholder="您的笔记名称"
                   value="<%= note_data[0].note_name %>">
            <% } else { %>
            <input id="note_name_input" type="text" maxlength="11" class=" note_item_word" placeholder="您的笔记名称">
            <% } %>
        </div>
    </div>

    <!-- 所属笔记本 -->
    <div class="layui-col-xs4 note_item">
        <label class="layui-col-xs1 note_title_icon">
            <i class="layui-icon">&#xe622;</i>
        </label>
        <div class='layui-col-xs6 note_title_outer'>
            <div id="note_nb" class="note_item_word">
                <% if(has_note === true) { %>
                <%= note_data[0].nb_name %>
                <% } else { %>
                <%= default_nb[0].nb_name %>
                <% } %>
            </div>
        </div>
        <label id="change_nb" class="layui-col-xs1 note_title_icon">
            <i class="layui-icon">&#xe671;</i>
        </label>
        <!--<button class="layui-col-xs-offset1 layui-col-xs1 layui-btn layui-btn-sm layui-btn-warm">-->
        <!--<i class="layui-icon">&#xe671;</i>-->
        <!--</button>-->
    </div>

    <!-- 所属标签 -->
    <div class="layui-col-xs3 note_item">
        <label class="layui-col-xs1 note_title_icon">
            <i class="layui-icon">&#xe64c;</i>
        </label>
        <div class="layui-col-xs10 note_title_outer">
            <% if(has_note === true) { %>
            <input id="note_tag_input" type="text" class="note_item_word" placeholder="默认无标签"
                   value="<%= note_data[0].tag %>">
            <% } else { %>
            <input id="note_tag_input" type="text" class="note_item_word" placeholder="默认无标签">
            <% } %>
        </div>
    </div>

    <!-- 保存／丢弃按钮 -->
    <div class="note_save_discard_btn_group layui-btn-group layui-col-xs2 note_item">
        <button class="save_now_note layui-btn layui-btn-sm layui-btn-normal">
            <i class="layui-icon">&#xe641;</i>
            <p class="btn_group_tip">保存</p>
        </button>
        <button class="discard_now_note layui-btn layui-btn-sm layui-btn-danger">
            <i class="layui-icon">&#xe640;</i>
            <p class="btn_group_tip">丢弃</p>
        </button>
    </div>

    <hr class="layui-bg-green note_separator">

    <!-- summer_note -->
    <div class="note_div">
        <div class="summernote mynote" style="z-index: 1000; color: #BDC0BA">
            <% if(has_note === true) { %>
            <%- note_data[0].content %>
            <% } %>
        </div>
    </div>
</div>